<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}" ></script>
<style type="text/css">
	table{
		background-color: #666666
	}
	td{
		border: 1px solid black;
	}
</style>
</head>
<body>
	<h1>请假申请</h1>
	<table>
		<tr>
			<td>申请人:</td>
			<td>
				<input type="text" th:id="userName" readonly="readonly" th:value="${session.userName}" />
			</td>
			<td>申请事由:</td>
			<td style="width: 300px;">
				<input type="text" th:id="reason" value="" style="width: 290px;" />
			</td>
			<td>
				<input type="button" value="提交" onclick="apply()" >
			</td>
		</tr>
	</table>
	<br />
	<h1 >我正在申请记录</h1>
	<br />
	<table id="myApply"></table>
	<br />
	<h1>待我审核的请假</h1>
	<br />
	<table id="holdOnMyAudit"></table>
	<br />
	<h1>我申请过的记录</h1>
	<table id="alreadyMyApply"></table>
	
	<script type="text/javascript">
		$(function(){
			loadMyApply();
			holdOnMyAudit();
			loadAlreadyMyApply();
		});
		
		//加载我申请过的记录
		function loadAlreadyMyApply(){
			$.ajax({
				url:'/loadAlreadyMyApply',
				type:'get',
				dataType:'json',
				success:function(data){
					for(var i=0;i<data.length;i++){
						var applyDate=data[i].applyDate;
						var applyUser=data[i].applyUser;
						var reason=data[i].reason;
						$("#alreadyMyApply").append("<tr><td>申请人:</td><td>"+applyUser+"</td><td>申请时间:</td><td>"+applyDate+"</td><td>事由:</td><td>"+reason+"</td></tr>");
					}
				}
			});
		}
		//待我审核的请假
		function holdOnMyAudit(){
			$.ajax({
				url:'/holdOnMyAudit',
				type:'get',
				dataType:'json',
				success:function(data){
					for(var i=0;i<data.length;i++){
						var applyDate=data[i].applyDate;
						var reason=data[i].reason;
						var taskId=data[i].taskId;
						var applyUser=data[i].applyUser;
						var instanceId=data[i].instanceId;
						$("#holdOnMyAudit").append("<tr><td>申请人:</td><td>"+applyUser+"</td><td>申请时间:</td><td>"+applyDate+"</td><td>请假事由:</td><td>"+reason+"</td><td><input type='button' value='同意' onclick='agree("+taskId+","+instanceId+")'></td></tr>");
					}
				}
			});
		}
		//同意
		function agree(taskId,instanceId){
			$.ajax({
				url:'/agree',
				type:'post',
				data:{
					taskId:taskId,
					instanceId:instanceId
				},
				dataType:'text',
				success:function(data){
					alert(data);
				}
			});
		}
		//我申请的记录
		function loadMyApply(){
			$.ajax({
				url:'/loadMyApply',
				type:'get',
				dataType:'json',
				success:function(data){
					for(var i=0;i<data.length;i++){
						var applyDate=data[i].applyDate;
						var reason=data[i].reason;
						var audit=data[i].audit;
						$("#myApply").append("<tr><td>申请时间:</td><td>"+applyDate+"</td><td>请假事由:</td><td>"+reason+"</td><td>审核人:</td><td>"+audit+"</td></tr>");
					}
				}
			});
		}
		//发起申请
		function apply(){
			var userName=$("#userName").val();
			var reason=$("#reason").val();
			$.ajax({
				url:'/submitApply',
				type:'post',
				data:{
					userName:userName,
					reason:reason
				},
				dataType:'text',
				success:function(data){
					alert(data);
				}
			});
		}
	</script>
</body>
</html>